@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: #fff;
  justify-content: center;
}

.main {
  height: 340px;
  width: 450px;
  background: rgb(250, 10, 70);
  border: 8px solid rgb(252, 206, 170);
  border-radius: 20px;
  padding: 20px 25px 0;
  box-shadow: 0 10px 30px rgba(68, 29, 36, 0.1);
}

.main.active {
  height: 550px;
}

header h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

header h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

header p { 
  margin-top: 5px;
  text-align: center;
  color: rgb(251, 240, 236);
  font-size: 18px;
} 

.main .form {
  margin: 10px 35px;
}

.form :where(input, button) {
  width: 100%;
  height: 55px;
  border: 4px solid rgb(251, 240, 236);
  border-radius: 15px;
  transition: 0.1s ease;
}

.form input {
  font-size: 25px;
  padding: 0 15px;
  border: 2px solid rgb(192, 174, 174);
}

.form input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form input::placeholder {
  color: #999;
}

.form button {
  color: rgb(250, 10, 70);
  cursor: pointer;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
  background: rgb(252, 206, 170);
}

.form button:hover {
  cursor: pointer;
  margin-top: 20px;
  background: rgb(114, 253, 116);
  font-size: 28px;
}

.qr-code {
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 3px solid #ccc;
}

.main.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
  width: 200px;
}

.gen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.gen-btn button {
  font-size: 18px;
}

.gen-btn button:hover {
  font-size: 20px;
}

@media (max-width: 430px) {
  .main {
    height: 290px;
    padding: 16px 20px;
  }

  .main.active {
    height: 550px;
  }

  header p {
    color: #696969;
  }

  .form :where(input, button) {
    height: 52px;
  }

  .qr-code img {
    width: 160px;
  }
}